/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

/ {
	compatible = "diasom,btb-evb", "rockchip,rk3588";

	fragment@0 {
        target-path = "/";
        __overlay__ {
            aliases {
                gpio6 = &exp_i2c4;
            };
        };
    };

	fragment@1 {
		target = <&spi0>;
		__overlay__ {
			status = "okay";
			#address-cells = <1>;
    		#size-cells = <0>;
			flash@1 {
				compatible = "jedec,spi-nor";
				reg = <1>;
				spi-max-frequency = <100000>;
				spi-rx-bus-width = <1>;
				spi-tx-bus-width = <1>;

				partitions {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;

					loader@0 {
						label = "spifs";
						reg = <0x0 0x00400000>;
					};
				};         
			};
		};
	};

	fragment@2 {
		target = <&can1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&can2>;
		__overlay__ {
			status = "okay";
		};
	};



	fragment@4 {
		target = <&i2c4>;
		
		__overlay__ {
			#address-cells = <1>;
    		#size-cells = <0>;
			status = "okay";
			exp_i2c4: gpio@20 {
				compatible = "nxp,pca8574";
				reg = <0x20>;
				gpio-controller;
                #gpio-cells = <2>;
				gpio-line-names =
				/* P0_0-7 */
					"gpio0", "gpio1", "gpio2", "gpio3",
					"gpio4", "gpio5", "gpio6", "gpio7";
			};
		};
	};

	fragment@5 {
		target = <&i2c1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&hdmirx_ctrler>;
		__overlay__ {
			hdmirx-det-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_LOW>;
		};
	};

	fragment@7 {
		target = <&i2c1>;
		
		__overlay__ {
			#address-cells = <1>;
    		#size-cells = <0>;
			status = "okay";
			exp_i2c1: gpio@20 {
				compatible = "nxp,pca8574";
				reg = <0x20>;
				gpio-controller;
                #gpio-cells = <2>;
				gpio-line-names =
				/* P0_0-7 */
					"gpio0", "gpio1", "gpio2", "gpio3",
					"gpio4", "gpio5", "gpio6", "gpio7";
			};
		};
	};

	fragment@8 {
		target = <&pinctrl>;
		
		__overlay__ {
			hdmirx {
				hdmirx_det: hdmirx-det {
					rockchip,pins = <3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
				};
			};
		};
	};

};